@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800;900&family=Space+Mono&display=swap');

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    font-family: 'Space Mono', monospace;
    color: rgb(245, 245, 245);
    background-color: rgb(1, 1, 1);
    min-height: 100vh;
    overflow-x: hidden;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #00ffe7;
    font-size: 3.5em;
    font-weight: bolder;
    margin: 0;
}

h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: #00ffe7;
    font-size: 3.3em;
    font-weight: bolder;
    letter-spacing: -9px;
    margin: 0;
    z-index: 25;
}

/* VARIOUS */
.container {
    padding: 0 20% 0;
}
.hidden {
    display: none;
}

::selection {
    color: #00e279;
    background: rgba(37, 36, 36, .5);
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 0;
}
#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
}
#progressBar {
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: progressBarColor 5s linear infinite;
}
@keyframes progressBarColor 
{
    0%,100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
    }
}
#progressBar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
}

/* LETRAS SALTARINAS */
span.rubberBand {
    display: inline-block;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
}

span.rubberBand.animated {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

/* LOGO */
#logo {
    position: fixed;
    top: 30px;
    left: 40px;
    width: 50px;
    line-height: 70px;
    cursor: pointer;
    text-align: center;
    z-index: 750;
    transition: .5s;
}
#logo.logoSpin {
    transform: rotate(720deg);
}
#logo:hover {
    scale: 1.1;
}

/* MENU */
#menu-btn {
    position: fixed;
    top: 20px;
    right: 40px;
    height: 70px;
    width: 70px;
    line-height: 70px;
    border-radius: 50%;
    font-size: 40px;
    cursor: pointer;
    color: #00ffe7;
    text-align: center;
    z-index: 1000;
    transition: .5s;
}
#menu-btn.fa-times {
    transform: rotate(180deg);
    color: #ff0534;
}
#menu-btn:hover {
    scale: 1.1;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 750;
    height: 100%;
    width: 100%;
    background: #0E0E0E;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 50px;
    clip-path: circle(0% at 95.3% 8.5%);
    transition: .5s;
}
.navbar.active {
    clip-path: circle(140% at 95.3% 8.5%);
}
.navbar__links {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.navbar li {
    list-style: none;
}
/* Letras detras de los links del menu */
.navbar li:before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(245, 245, 245);
    font-size: 7em;
    font-weight: 700;
    pointer-events: none;
    opacity: 0;
    letter-spacing: 10px;
    transition: .5s;
    white-space: nowrap;
}
.navbar li:hover:before{
    opacity: .05;
    letter-spacing: 10px
}
.navbar a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 1em;
    position: relative;
    display: block;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
    padding: 30px 75px;
    text-decoration: none;
    background: #0070d1;
    color: rgb(245, 245, 245);
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
    transition: .5s;
    z-index: 750;
}
nav ul:hover li a {
    opacity: 0;
}
.navbar a:hover {
    transform: scale(1.2);
    z-index: 1000;
    border: 3px solid #00ffe7;
    background: #ff3f81;
    color: #00ffe7;
    opacity: 1;
}
.navbar a:active {
    background: #ff0534;
}
.navbar ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100px;
    width: 80px;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(245, 245, 245, .8), transparent);
    transform: skewX(35deg);
    transition: 0s;
}
.navbar ul li a:hover:before {
    left: calc(100% + 100px);
    transition: .5s;
    transition-delay: .2s;
}

/* HEADER */
.header {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(to bottom, transparent 50%, #010101 100%);
}
.header__hero__texts {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}
.header__hero__texts .cols {
    width: 50%;
}
.header__hero__texts .topline {
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: rgb(230, 230, 230);
}
.header__hero__texts .topline::after {
    position: absolute;
    content: "";
    height: 9px;
    width: 9px;
    bottom: 6px;
    border-radius: 50%;
    background-color: #00ffe7;
}
.header__hero__texts h1 {
    display: block;
    font-size: 6em;
    font-weight: 900;
    color: rgb(230, 230, 230);
}
.header__hero__texts .multiText {
    color: #ff0534;
    text-transform: capitalize;
}
/* HEADER__HERO__IMG */
.header__hero__img {
    z-index: -25;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
	background-image: url(../img/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    animation: hero-scale 2s cubic-bezier(.5, .6, .6, 1);
}
@keyframes hero-scale {
    0% {
        opacity: 0;
        transform: scale(.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* MAIN */
.main {
    background-color: #111111;
}

/* MAIN__ABOUT */
.main__about {
    background: linear-gradient(to top, transparent 77%, #010101 100%);
}
.main__about__container {
    padding-top: 400px;
}
.main__about__container__img {
    width: 150px;
    border-radius: 15px;
    margin-bottom: 5px;
}
.main__about__container__name {
    color: #837F7A;
    letter-spacing: 5px;
    font-size: 1.1em;
    font-weight: bold;
}
.main__about__container__title {
    margin-bottom: 50px;
}
.main__about__container__txt {
    line-height: 30px;
    font-size: 1.3em;
}
/* MAIN__ABOUT__CONTAINER__BTN-CV */
.main__about__container__btn-cv a{
    margin-top: 30px;
    display: block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: rgb(63, 63, 63);
    text-align: center;
    color: #00ffe7;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid rgb(63, 63, 63);
    border-radius: 5px;
    box-shadow: 0 0 5px #00ffe7;
    transition: all .35s;
}
.main__about__container__btn-cv a:hover{
    width: 225px;
    background: transparent;
    border: 3px solid #00ffe7;
    color: #00ffe7;
}

/* MAIN__SKILLS */
.main__skills {
    margin-top: 400px;
}
.main__skills__container {
    margin-bottom: 50px;
}
.main__skills__container__title {
    margin-bottom: 50px;
}
.main__skills__container__txt {
    line-height: 30px;
    font-size: 1.3em;
}
/* MAIN__SKILLS__LINKS */
.main__skills a {
    position: relative;
    text-decoration: none;
    color: #00ffe7;
}

.main__skills a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #00ffe7;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
}

.main__skills a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}
/* MAIN__SKILLS__TECHNOLOGIES */
.main__skills__technologies div {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
}
.main__skills__technologies img {
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 5em;
    z-index: 100;
}
.main__skills__technologies h3 {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    background-color: transparent;
    z-index: 1;
    box-shadow: 0 0 5px #00ffe7;
    border-radius: 7px;
    padding: .3rem 0;
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 0px;
    opacity: 0;
    transform: translate(0px,-130px);
    transition: transform .4s ease, opacity .4s ease;
}
.main__skills__technologies div:hover h3 {
    opacity: 1;
    transform: translate(0px,-150px);
}

/* MAIN__PORTFOLIO */
.main__portfolio {
    margin-top: 400px;
}
.main__portfolio__content {
    margin-bottom: 50px;
}
.main__portfolio__content__title {
    text-align: center;
    margin-bottom: 50px;
}
/* MAIN__PORTFOLIO__CARDS */
.cards-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 50;
}
.main__portfolio__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.main__portfolio__cards__card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, .5);
    border-radius: 15px;
    background: rgba(255, 255, 255, .1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, .5);
    border-left: 1px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(5px);
}
.main__portfolio__cards__card__content {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: .5s;
}
.main__portfolio__cards__card:hover .main__portfolio__cards__card__content {
    transform: translateY(0);
    opacity: 1;
}
.main__portfolio__cards__card__img {
    z-index: -100;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: 850px;
    object-fit: cover;
    background-position: center;
    opacity: 1;
    filter: blur(0);
    transition: .5s;
}
.main__portfolio__cards__card:hover .main__portfolio__cards__card__img {
    opacity: 0.3;
    filter: blur(5px);
}
.card-img-0 {
    background-image: url(../img/generacion-t.png);
}
.card-img-1 {
    background-image: url(../img/los-colineros.png);
}
.card-img-2 {
    background-image: url(../img/restaurantic.jpg);
}
.card-img-3 {
    background-image: url(../img/trent-walton.png);
}
.card-img-4 {
    background-image: url(../img/v&a.png);
}
.main__portfolio__cards__card__content__title {
    font-size: 1.5em;
    color: #ff0534;
    letter-spacing: 2px;
    text-shadow: 2px 3px #010101;
    z-index: 100;
}
.main__portfolio__cards__card__content__txt {
    font-size: 1.1em;
    color: rgb(245, 245, 245);
    text-shadow: 3px 3px 2px #000;
    font-weight: 300;
}
.main__portfolio__cards__card__content__link {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    background: rgba(245, 245, 245);
    color: #010101;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bolder;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    transition: .5s;
}
.main__portfolio__cards__card__content__link:hover {
background: #00ffe7;
}

/* MAIN__CONTACT */
.main__contact {
    margin-top: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* MAIN__CONTACT__FORM */
.main__contact #wrap {
    width: 530px;
    margin: 20px 0;
    height: 650px;
}
.main__contact p {
    color: #111111;
}
.main__contact #form-wrap {
    position: relative;
    top: 0;
    height: 447px;
    overflow: hidden;
    transition: all 1s ease-in-out .3s;
}
.main__contact #form-wrap::before {
    position: absolute;
    content: "";
    bottom: 128px;
    left: 0;
    background: url("../img/before.png");
    width: 100%;
    height: 317px;
}
.main__contact #form-wrap::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    background: url("../img/after.png");
    width: 100%;
    height: 259px;
    border-radius: 50px;
}
.main__contact #form-wrap.hide::after, #form-wrap.hide::before {
    display: none;
}
.main__contact #form-wrap:hover {
    height: 777px;
    top: -175px;
}
.main__contact form {
    background: rgb(245, 245, 245);
    position: relative;
    top: 180px;
    width: 75%;
    height: 200px;
    margin: -50px auto;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #837F7A;
    outline: none;
    transition: all 1.5s ease-in-out .1s;
}
.main__contact #form-wrap:hover form {
    height: 630px;
}
.main__contact label {
    margin: 11px 20px 0 0;
    font-size: 15px;
    color: rgb(117, 117, 117);
    text-transform: uppercase;
}
.main__contact input[type=text] {
    outline: none;
    background: rgb(222, 222, 222);
}
.main__contact input[type=text], textarea {
    background: rgb(222, 222, 222);
    font: 14px normal uppercase, arial, serif;
    color: rgb(63, 63, 63);
    width: 93%;
    height: 37px;
    padding: 0 10px;
    margin: 0 0 10px 0;
    border: 1px solid #f8f5f1;
    border-radius: 5px;
    resize: none;
}
.main__contact textarea {
    width: 93%;
    height: 80px;
    padding-top: 14px;
    outline: none;
}
.main__contact input[type=email] {
    outline: none;
    background: rgb(222, 222, 222);
}
.main__contact input[type=email], textarea {
    background: rgb(222, 222, 222);
    font: 14px normal uppercase, arial, serif;
    color: rgb(63, 63, 63);
    width: 93%;
    height: 37px;
    padding: 0 10px;
    margin: 0 0 10px 0;
    border: 1px solid #f8f5f1;
    border-radius: 5px;
    resize: none;
}
.main__contact #form-wrap input[type=submit] {
    position: relative;
    display: block;
    margin: 25px auto;
    font-size: 24px;
    font-weight: bold;
    color: #ff0534;
    text-align: center;
    text-shadow: 0 2px #010101;
    background: none;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    opacity: 0;
    transition: opacity .5s ease-in-out 0s;
}
.main__contact #form-wrap:hover input[type=submit] {
    z-index: 10;
    opacity: 1;
    transition: opacity .5s ease-in-out 1s;
}

/* FOOTER */
.footer {
    background: #0A0A0A;
    padding: 20px 0;
}
.footer__txt {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* CORAZON */
.love{
    padding:0 .4rem;animation:1.5s heartThrob infinite
}
.love svg{
    height:1.75rem
}
@-moz-keyframes heartThrob{
    10%
    {transform:scale(1.15)}
    20%
    {transform:scale(1)}
    40%
    {transform:scale(1.15)}
    60%
    {transform:scale(1)}
}
@-webkit-keyframes heartThrob{
    10%
    {transform:scale(1.15)}
    20%
    {transform:scale(1)}
    40%
    {transform:scale(1.15)}
    60%
    {transform:scale(1)}
}
@-o-keyframes heartThrob{
    10%
    {transform:scale(1.15)}
    20%
    {transform:scale(1)}
    40%
    {transform:scale(1.15)}
    60%
    {transform:scale(1)}
}
@keyframes heartThrob{
    10%
    {transform:scale(1.15)}
    20%
    {transform:scale(1)}
    40%
    {transform:scale(1.15)}
    60%
    {transform:scale(1)}
}

.footer a {
    position: relative;
    text-decoration: none;
    color: #00ffe7;
}

.footer a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #00ffe7;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
}

.footer a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}





/* MEDIA QUERIES */
@media only screen 
and (max-device-width : 56.25em) {
    #logo {
        top: 20px;
        left: 20px;
        width: 40px;
    }

    #menu-btn {
        top: 5px;
        right: 10px;
        font-size: 35px;
    }

    .navbar li:before {
        font-size: 2.5em;
    }

    .navbar a {
        font-size: .9em;
        padding: 25px 50px;
    }
    
    .header__hero__texts .topline {
        font-size: 25px;
        letter-spacing: 5px;
    }

    .header__hero__texts .topline::after {
        height: 7px;
        width: 7px;
        bottom: 4px;
    }
    
    .header__hero__texts h1 {
        font-size: 4em;
    }
    
    .header__hero__img {
        left: 30%;
    }

    .main__about__container__img {
        width: 111px;
    }

    .main__about__container__name {
        font-size: .8em;
    }

    .main__about__container__title, .main__skills__container__title {
        margin-bottom: 20px;
    }

    h2, h3, h4, h5, h6 {
        font-size: 2em;
        letter-spacing: -3px;
    }

    .main__about__container__txt, .main__skills__container__txt {
        line-height: 25px;
        font-size: 1.1em;
    }

    .main__about__container__btn-cv a {
        font-size: .9em;
    }

    .main__skills__technologies div {
        padding: 10px 30px;
    }

    .main__skills__technologies img {
        width: 3em;
    }

    .main__skills__technologies h3 {
        transform: translate(0px,-100px);
    }
    .main__skills__technologies div:hover h3 {
        transform: translate(0px,-115px);
    }

    .main__portfolio__cards__card {
        width: 250px;
        height: 350px;
    }

    .main__portfolio__cards__card__content__title {
        font-size: 1.5em;
    }
    .main__portfolio__cards__card__content__txt {
        font-size: 1em;
    }
    .main__portfolio__cards__card__content__link {
        padding: 10px 20px;
        font-size: .9em;
    }

    .main__contact form {
        width: 75%;
    }

    .main__contact input[type=email] {
        width: 93%;
    }
}





@media only screen 
and (max-device-width : 37.5em) {
    #logo {
        width: 35px;
    }

    #menu-btn {
        right: 0;
        top: 0;
        font-size: 35px;
    }
    
    .header__hero__texts .topline {
        padding-left: 25px;
        font-size: 20px;
    }

    .header__hero__texts .topline::after {
        height: 5px;
        width: 5px;
        bottom: 3px;
    }
    
    .header__hero__texts h1 {
        padding-left: 25px;
        font-size: 3em;
    }
    
    .header__hero__img {
        left: 0;
    }

    .main__about__container__name {
        font-size: .8em;
        line-height: 1.45;
    }

    .main__about__container__title, .main__skills__container__title {
        margin-bottom: 20px;
    }

    h2, h3, h4, h5, h6 {
        font-size: 1.6em;
    }

    .main__about__container__btn-cv a {
        font-size: .8em;
        width: 150px;
    }

    .main__portfolio__cards__card {
        width: 250px;
        height: 350px;
    }

    .main__portfolio__cards__card__content__title {
        font-size: 1.4em;
    }
    .main__portfolio__cards__card__content__link {
        padding: 10px 20px;
        font-size: .8em;
    }

    .main__contact form {
        width: 55%;
    }

    .main__contact #form-wrap input[type=submit] {
        font-size: 22px;
    }
}