@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800;900&family=Space+Mono&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    user-select: none;
    font-family: 'Space Mono', monospace;
    color: rgb(245, 245, 245);
    background-color: rgb(1, 1, 1);
    min-height: 100vh;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    color: #00ffe7;
}

/* VARIOUS */
.container {
    padding: 0 20% 0;
}
.hidden {
    display: none;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 0;
}
#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
}
#progressBar {
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: progressBarColor 5s linear infinite;
}
@keyframes progressBarColor 
{
    0%,100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
    }
}
#progressBar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
}

/* LOGO */
#logo {
    position: fixed;
    top: 30px;
    left: 40px;
    width: 50px;
    line-height: 70px;
    cursor: pointer;
    text-align: center;
    z-index: 750;
    transition: .5s;
}
#logo.logoSpin {
    transform: rotate(720deg);
}
#logo:hover {
    scale: 1.1;
}

/* MENU */
#menu-btn {
    position: fixed;
    top: 20px;
    right: 40px;
    height: 70px;
    width: 70px;
    line-height: 70px;
    border-radius: 50%;
    font-size:40px;
    cursor: pointer;
    color: #00ffe7;
    text-align: center;
    z-index: 1000;
    transition: .5s;
}
#menu-btn.fa-times {
    transform: rotate(180deg);
    color: #ff0534;
}
#menu-btn:hover {
    scale: 1.1;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 750;
    height: 100%;
    width: 100%;
    background: #0E0E0E;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 50px;
    clip-path: circle(0% at 95.3% 8.5%);
    transition: .5s;
}
.navbar.active {
    clip-path: circle(140% at 95.3% 8.5%);
}
.navbar__links {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.navbar li {
    list-style: none;
}
/* Letras detras de los links del menu */
.navbar li:before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(245, 245, 245);
    font-size: 8em;
    font-weight: 700;
    pointer-events: none;
    opacity: 0;
    letter-spacing: 10px;
    transition: .5s;
    white-space: nowrap;
}
.navbar li:hover:before{
    opacity: .05;
    letter-spacing: 10px
}
.navbar a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 1em;
    position: relative;
    display: block;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
    padding: 30px 75px;
    text-decoration: none;
    background: #0070d1;
    color: rgb(245, 245, 245);
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
    transition: .5s;
    z-index: 750;
}
nav ul:hover li a {
    opacity: 0;
}
.navbar a:hover {
    transform: scale(1.4);
    z-index: 1000;
    background: #ff3f81;
    opacity: 1;
}
.navbar a:active {
    background: #f09000;
}
.navbar ul li a:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100px;
    width: 80px;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(245, 245, 245, .8), transparent);
    transform: skewX(35deg);
    transition: 0s;
}
.navbar ul li a:hover:before {
    left: calc(100% + 100px);
    transition: .5s;
    transition-delay: .2s;
}

/* HEADER */
.header {
    position: relative;
    min-height: 100vh;
    background: linear-gradient(to bottom, transparent 50%, #010101 100%);
}
.header__hero__texts {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}
.header__hero__texts .cols {
    width: 50%;
}
.header__hero__texts .topline {
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: rgb(230, 230, 230);
}
.header__hero__texts .topline::after {
    position: absolute;
    content: "";
    height: 9px;
    width: 9px;
    bottom: 6px;
    border-radius: 50%;
    background-color: #00ffe7;
}
.header__hero__texts h1 {
    display: block;
    font-size: 6em;
    font-weight: 900;
    color: rgb(230, 230, 230);
}
.header__hero__texts .multiText {
    color: #ff0534;
    text-transform: capitalize;
}
/* HEADER__HERO__IMG */
.header__hero__img {
    z-index: -25;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
	background-image: url(../img/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    animation: hero-scale 2s cubic-bezier(.5, .6, .6, 1);
}
@keyframes hero-scale {
    0% {
        opacity: 0;
        transform: scale(.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* MAIN */
.main {
    background-color: #111111;
}
/* MAIN__ABOUT */
.main__about {
    background: linear-gradient(to top, transparent 90%, #010101 100%);
}
.main__about__container {
    padding-top: 400px;
}
/* MAIN__SKILLS */
.main__skills {
    margin-top: 400px;
}
.skills-slider .slide-track img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
/* MAIN__PORTFOLIO */
.main__portfolio {
    margin-top: 400px;
}
/* MAIN__PORTFOLIO__CARDS */
.cards-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 50;
}
.main__portfolio__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.main__portfolio__cards__card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, .5);
    border-radius: 15px;
    background: rgba(255, 255, 255, .1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, .5);
    border-left: 1px solid rgba(255, 255, 255, .5);
    backdrop-filter: blur(5px);
}
.main__portfolio__cards__card__content {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: .5s;
}
.main__portfolio__cards__card:hover .main__portfolio__cards__card__content {
    transform: translateY(0);
    opacity: 1;
}
.main__portfolio__cards__card__img {
    z-index: -100;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: 850px;
    object-fit: cover;
    background-position: center;
    opacity: 1;
    filter: blur(0);
    transition: .5s;
}
.main__portfolio__cards__card:hover .main__portfolio__cards__card__img {
    opacity: 0.3;
    filter: blur(5px);
}
.card-img-1 {
    background-image: url(../img/restaurantic.jpg);
}
.card-img-2 {
    background-image: url(../img/trent-walton.png);
}
.card-img-3 {
    background-image: url(../img/v&a.png);
}
.main__portfolio__cards__card__content__title {
    font-size: 1.9em;
    color: #ff0534;
    letter-spacing: 2px;
    text-shadow: 2px 3px #010101;
    z-index: 100;
}
.main__portfolio__cards__card__content__txt {
    font-size: 1em;
    color: rgb(245, 245, 245);
    text-shadow: 3px 3px 2px #000;
    font-weight: 300;
}
.main__portfolio__cards__card__content__link {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    background: rgba(245, 245, 245);
    color: #010101;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bolder;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    transition: .5s;
}
.main__portfolio__cards__card__content__link:hover {
background: #00ffe7;
}

/* MAIN__CONTACT */
.main__contact {
    margin-top: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* MAIN__CONTACT__FORM */
.main__contact #wrap {
    width: 530px;
    margin: 20px auto 0;
    height: 650px;
}
.main__contact p {
    color: #111111;
}
.main__contact #form-wrap {
    position: relative;
    top: 0;
    height: 447px;
    overflow: hidden;
    transition: all 1s ease-in-out .3s;
}
.main__contact #form-wrap::before {
    position: absolute;
    content: "";
    bottom: 128px;
    left: 0;
    background: url("../img/before.png");
    width: 530px;
    height: 317px;
}
.main__contact #form-wrap::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    background: url("../img/after.png");
    width: 530px;
    height: 259px;
}
.main__contact #form-wrap.hide::after, #form-wrap.hide::before {
    display: none;
}
.main__contact #form-wrap:hover {
    height: 777px;
    top: -200px;
}
.main__contact form {
    background: rgb(245, 245, 245);
    position: relative;
    top: 200px;
    width: 400px;
    height: 200px;
    overflow: hidden;
    margin: -50px auto;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #111111;
    outline: none;
    transition: all 1.5s ease-in-out .1s;
}
.main__contact #form-wrap:hover form {
    height: 530px;
}
.main__contact label {
    margin: 11px 20px 0 0;
    font-size: 15px;
    color: rgb(117, 117, 117);
    text-transform: uppercase;
}
.main__contact input[type=text] {
    outline: none;
    background: rgb(222, 222, 222);
}
.main__contact input[type=text], textarea {
    background: rgb(222, 222, 222);
    font: 14px normal uppercase, arial, serif;
    color: rgb(63, 63, 63);
    width: 380px;
    height: 37px;
    padding: 0 10px;
    margin: 0 0 10px 0;
    border: 1px solid #f8f5f1;
    border-radius: 5px;
    resize: none;
}
.main__contact textarea {
    height: 80px;
    padding-top: 14px;
    outline: none;
}
.main__contact #form-wrap input[type=submit] {
    position: relative;
    display: block;
    margin: 25px auto;
    font-size: 24px;
    font-weight: bold;
    color: #ff0534;
    text-align: center;
    text-shadow: 0 2px #010101;
    opacity: 0;
    background: none;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    transition: opacity .5s ease-in-out 0s;
}
.main__contact #form-wrap:hover input[type=submit] {
    z-index: 10;
    opacity: 1;
    transition: opacity .5s ease-in-out 1.2s;
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background: #0A0A0A;
}
/* CORAZON */
.love{
    padding:0 .4rem;animation:1.5s heartThrob infinite
}
.love svg{
    height:1.75rem
}
@-moz-keyframes heartThrob{
    10%
    {transform:scale(1.15)}
    20%
    {transform:scale(1)}
    40%
    {transform:scale(1.15)}
    60%
    {transform:scale(1)}
}
@-webkit-keyframes heartThrob{
    10%
    {transform:scale(1.15)}
    20%
    {transform:scale(1)}
    40%
    {transform:scale(1.15)}
    60%
    {transform:scale(1)}
}
@-o-keyframes heartThrob{
    10%
    {transform:scale(1.15)}
    20%
    {transform:scale(1)}
    40%
    {transform:scale(1.15)}
    60%
    {transform:scale(1)}
}
@keyframes heartThrob{
    10%
    {transform:scale(1.15)}
    20%
    {transform:scale(1)}
    40%
    {transform:scale(1.15)}
    60%
    {transform:scale(1)}
}