// SLIDER DE SKILLS
@mixin white-gradient {
	background: linear-gradient(to right,  rgb(17, 17, 17) 0%,transparent 30%);
}

$animationSpeed: 30s;

// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


// Styling
.skills-slider {
	background: transparent;
	height: 150px;
	margin-top: 20px;
	overflow:hidden;
	position: relative;
	width: 800px;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 250px;
		z-index: 50;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
		height: 100px;
		width: 250px;
	}
}

@media only screen 
and (max-device-width : 900px) {
    .skills-slider {
        height: 150px;
        width: 100%;
    }
}